<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yeyu.mapper.UserDao">

	<resultMap id="bookMap" type="com.yeyu.pojo.User">
		<id column="id" property="id" />
		<result column="bookname" property="bookname" />
		<result column="zuozhe" property="zuozhe" />
		<result column="chubanshang" property="chubanshang" />
		<result column="kucun" property="kucun" />
	</resultMap>

	<!-- 根据用户名查找用户对象 resultType="com.yeyu.mapper.User -->

	<select id="findById" resultType="com.yeyu.pojo.User">
		select
		*
		from booktb
		where
		id=#{id}
	</select>

	<select id="find" resultMap="bookMap">
		select
		*
		from booktb
	</select>




	<!-- <sql id="sqlAll"> user_id,user_email,password,user_name,hiredadate,sate 
		<include refid="sqlAll" /> </sql> -->

	<!-- 注册用户 -->
	<!-- <insert id="insertUser"> <selectKey keyProperty="user_id" order="BEFORE" 
		resultType="Integer"> select dd_pro_seq.nextval from dual </selectKey> insert 
		into dd_user( <include refid="sqlAll" /> ) values(#{user_id},#{user_email},#{password},#{user_name},to_date(to_char(sysdate,'yyyy-dd-mm'),'yyyy-dd-mm'),#{sate}) 
		</insert> 映射字段 <resultMap type="Users" id="add"> 主键映射 <id property="user_id" 
		column="user_id" /> <result property="user_email" column="user_email" /> 
		<result property="password" column="password" /> <result property="user_name" 
		column="user_name" /> <result property="hiredadate" column="hiredadate" /> 
		<result property="sate" column="sate" /> <collection property="add" javaType="java.util.List" 
		ofType="Adds"> 主键映射 <id property="add_id" column="add_id" /> <result property="add_name" 
		column="add_name" /> <result property="address" column="address" /> <result 
		property="pc" column="pc" /> <result property="phone" column="phone" /> <result 
		property="telphone" column="telphone" /> <result property="mr_add" column="mr_add" 
		/> </collection> </resultMap> <sql id="sqlAll2"> a.add_id as add_id,a.add_name 
		as add_name, a.address as address, a.pc as pc, a.phone as phone, a.telphone 
		as telphone, a.mr_add asmr_add </sql> <sql id="sqlAll3"> u.user_id as user_id,u.user_email 
		as user_email,u.password as password,u.user_name as user_name,u.hiredadate 
		as hiredadate,u.sate as sate </sql> <select id="selectAdd" resultMap="add"> 
		select <include refid="sqlAll3" /> , <include refid="sqlAll2" /> from dd_user 
		u right join dd_address a on u.user_id = a.user_id where u.user_id = #{user_id} 
		</select> -->
</mapper>
